* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    font-size: 20px;
    text-align: end;
    height: 60px;
}

.btn-row {
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
}

.col-md-3 {
    padding: 0 5px;
}