* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 10px;
    width: 250px;
    border: 1px solid #000;
}

label {
    margin: 0.5rem 0;
    font-weight: 600;
}

input {
    background-color: #fff;
    border: 1px solid gray;
    width: 220px;
    height: 40px;
    font-size: 18px;
    text-align: end;
    margin-bottom: 0.5rem;
}

.row {
    margin-bottom: 0.2rem;
}

button {
    width: 50px;
    padding: 5px;
    cursor: pointer;
}

.operator {
    background-color: gray;
    color: #fff;
    border: 2px solid gray;
}

.calculate {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}
.clear {
    background-color: crimson;
    color: #fff;
    border: 2px solid crimson;
}

.backspace {
    background-color: cornflowerblue;
    color: #fff;
    border: 2px solid cornflowerblue;
}